# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Logs and runtime
*.log
instance/

# OneDrive temp files
~$*
Thumbs.db
